@model MVCPersonalSite.Models.ContactViewModel
<div>
    @if (Model != null)
    {
    <div class="col-md-12 text-center contact-form">
        <h2>Thank you for your message.</h2>
        <p>We will respond to you as sson as possible!</p>
    </div>
    }
</div>
